framesSquencce/.externalNativeBuild/
sample/.externalNativeBuild/
.gradle/
.idea/
build/
*.DS_Store
.gradle/*
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/javaCompile/classAnalysis.bin
.gradle/4.4/javaCompile/javaCompile.lock
.gradle/4.4/javaCompile/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/workspace.xml
android/AndroidManifest.xml
android/build/intermediates/blame/res/debug/multi-v2/debug.json
android/build/intermediates/blame/res/debug/single/debug.json
android/build/intermediates/incremental/debug-mergeJavaRes/merge-state
android/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
android/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
android/build/intermediates/incremental/packageDebug/tmp/debug/file-input-save-data.txt
android/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/6h3UCGtJDQ4uBnhYYP7NcZetF7E=
android/build/intermediates/manifests/full/debug/AndroidManifest.xml
android/build/intermediates/res/debug/resources-debug.ap_
android/build/intermediates/res/merged/debug/layout_common_activity_layout.xml.flat
android/build/intermediates/transforms/dexMerger/debug/0/classes.dex
android/build/outputs/apk/debug/android-debug.apk
android/build/outputs/logs/manifest-merger-debug-report.txt
