<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.danny_jiang.algorithm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AlgorithmApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".bubble_sort.BubbleSortActivity">

        </activity>

        <activity android:name=".insert_sort.InsertionSortActivity" />

        <activity android:name=".kruskal_mst.KruskalMSTAlgoActivity">
        </activity>

        <activity android:name=".heap_sort.HeapSortActivity">

        </activity>

        <activity android:name=".breath_first_search.BreathFirstSearchActivity">

        </activity>

        <activity android:name=".quick_sort.QuickSortActivity"/>

    </application>

</manifest>
